<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <script src="/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>    
    <div class="container">
        <div class="page-header">
            <h2><%= doc.title %></h2>
        </div>
            
        <hr>
        <%- doc.content %>
        
        <a href='/docs' class="btn btn-large btn-block btn-danger">首页</a>        
    </div>        
</body>
</html>