<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>    
    <div class="container">  
        <% for(txt of content) {%>  
        <div class="panel panel-primary">
                <div class="panel-heading">
                        <h3 class="panel-title"><%= txt.title %></h3>
                </div>
                <div class="panel-body">
                        <% for(line of txt.content) {%>
                            <p><%= line %></p>
                        <%}%>
                </div>
            </div>
        <%}%>        
    </div>      
</body>
</html>